.page main {
  margin: 1rem;

  @media (width > 768px) {
    max-width: 40rem;
    margin-inline: auto;
  }
}

.page.darkmode {
  min-height: 100dvh;
  background-color: var(--background);
}


.darkmode {
  font-size: 18px;
}

.darkmode * {
  color: var(--textcolor);
}

.darkmode .card {
  background-color: var(--background);  
}


.darkmode input {
  background-color: var(--background);
  color: var(--darkblue);
  border: dotted 1px var(--darkblue);
  border-radius: 5px;
}

.darkmode input:focus {
  background-color: var(--background);
  color: var(--blue);
  border: solid 1px var(--blue);
}

.darkmode input[type=submit] {
  background-color: var(--background);
  color: var(--blue);
  border: solid 1px var(--blue);
  cursor:pointer;
}